<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cliffdevops.alpha.dufleet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dfs_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="View.Driver.LubricationActivity"></activity>
        <activity android:name="View.Common.ParcelDetailsActivity" />
        <activity android:name="View.Driver.TripActivity" />
        <activity android:name="View.Driver.MileageActivity" />
        <activity android:name="View.Conductor.RevenueActivity" />
        <activity android:name="View.Common.ParcelActivity" />
        <activity
            android:name="View.Manager.FuelActivity"
            android:parentActivityName="View.Manager.DashboardActivity" />
        <activity android:name="View.Manager.TodoActivity" />
        <activity android:name="View.Manager.RevenueActivity" />
        <activity android:name="View.Manager.BookingActivity" />
        <activity android:name="View.Manager.FleetActivity" />
        <activity android:name="View.Manager.SubContractsActivity" />
        <activity android:name="View.Manager.StaffActivity" />
        <activity android:name="View.Manager.ReportsActivity" />
        <activity android:name="View.Common.AdminActivity" />
        <activity android:name="View.Manager.Maintenance" />
        <activity android:name="View.Common.AboutActivity" />
        <activity android:name="View.Common.ProfileActivity" />
        <activity android:name="View.Reception.ReceptionActivity" />
        <activity android:name="View.Manager.DashboardActivity" />
        <activity android:name="View.Conductor.ConductorActivity" />
        <activity android:name="View.Driver.DriverActivity" />
        <activity android:name="View.Common.LoginActivity" />
        <activity
            android:name="View.Common.Splashscreen"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>